[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[init]
    defaultBranch = main

[pull]
    ff = only

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[include]
    path = ~/.gitconfig.local
